.Home {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
}

.Home .Home__button {
  margin: 0 10px;
}

.Home__logo {
  width: 30%;
  min-width: 200px;
  margin-bottom: 20px;
}
